<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="https://angular.io/assets/images/logos/angular/angular.png" width="20" height="20">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Recipes<span class="sr-only">(current)</span></a></li>
      <li><a href="#">List</a></li>
    </ul>
  </div>
</nav>
