<button class="btn btn-success">New Recipe</button>
<br><br>
<a href="#" class="list-group-item clearfix"
   *ngFor="let recipe of recipes">
<div class="row">
  <div class="col">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <br>
        <p class="list-group-item-text">{{ recipe.descritpion }}</p>
  </div>

  </div>
  <div class="col">
      <span class="pull-right">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-thumbnail" style="max-height: 120px">
      </span>
  </div>
</div>
</a>

